@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Montserrat+Alternates:wght@300&family=Montserrat:wght@400;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  overflow-x: hidden;
}

.header {
  margin-bottom: 110px;

  &__top {
    padding-top: 37px;
  }
  &__top-menu {
    width: 1010px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  &__search-text {
    margin-right: 200px;
    width: 225px;
    background-color: black;
    height: 30px;
    padding-left: 33px;
    color: #fff;
    border-radius: 15px;
    border: 1px solid #fff;
  }
  &__search-text::placeholder {
    color: white;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
  }
  &__lupa {
    position: relative;
    left: 30px;
    top: 0px;
  }
  &__top-right-menu {
    margin-left: 218px;
    display: flex;
    gap: 9px;
  }
  &__top-right-menu span {
    color: white;
    font-weight: 900;
    font-size: 17px;
  }
  &__top-right-menu-ru {
    font-family: Inter;
    color: #868686;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
  }
  &__top-right-menu-ua {
    color: #fff;
    font-family: Inter;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    transition: all 0.5 ease-in;
  }
  &__top-right-menu-ua:active {
    color: #fff;
    font-family: Inter;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
  }
  &__top-right-menu-ru:active {
    font-family: Inter;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
  }
  &__vectors {
    display: flex;
    gap: 30px;
    margin-left: 33px;
  }
  &__navbar {
    padding-top: 41px;
    width: 1010px;
    margin: 0 auto;
  }
  &__menu-btn {
    text-decoration: none;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    transition: all 0.3s ease;
    transform: skew(-20deg) translateY(-12px);
  }
  &__menu-btn:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 164px;
    height: 51px;
    background-color: white;
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
  }
  &__menu {
    display: flex;
    gap: 67px;
  }
}

.section {
  max-width: 1104px;
  margin: 0 auto;

  &__text-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__right-text {
    display: flex;
    padding-bottom: 70px;
  }
  &__left-title {
    color: #f0f0f0;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    line-height: normal;
  }
  &__left-title span {
    color: #ffc700;
    text-align: left;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__left-subtitle {
    color: #949494;
    font-family: Montserrat Alternates;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    text-align: left;
    line-height: normal;
    width: 443px;
    margin-bottom: 114px;
  }
  &__right-text-title {
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 21px;
  }
  &__right-text-title2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/img/bg/text-bg.png");
    background-repeat: no-repeat;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    margin-right: 35px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 186.5px;
    height: 30px;
  }
  &__right-text-title2::after {
    content: url("/img/vectors/down.png");
    position: relative;
    left: 3px;
  }
  &__right-text-subtitle {
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 21px;
  }
  &__right-text-subtitle2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/img/bg/text-bg-mini.png");
    background-repeat: no-repeat;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 63.5px;
    height: 30px;
  }
  &__right-text-subtitle2::after {
    content: url("/img/vectors/down.png");
    position: relative;
    top: -1px;
    left: 6px;
  }
  &__cards-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 33px;
    grid-column: auto;
    padding-bottom: 129px;
  }

  &__card-title {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    margin-top: 26px;
    margin-bottom: 5px;
  }
  &__card-subtitle {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #f0f0f0;
  }
  &__sec-card-title {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 5px;
    margin-top: -13px;
  }
  &__sec-card-subtitle {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #f0f0f0;
  }
  &__first-card {
    display: flex;
    margin-bottom: 114px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__second-card {
    display: flex;
    align-items: center;
    margin-bottom: 114px;
    justify-content: center;
    flex-direction: column;
  }
  &__end-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 120px;
  }
  &__end-block-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #252525;
    color: #f0f0f0;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    transition: all 0.3s ease-in;
    line-height: normal;
  }
  &__end-block-card:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: #ffc700;
    transition: all 0.4s ease-out;
    color: #f0f0f0;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  &__end-block-left {
    margin-right: 20px;
  }
  &__end-block-right {
    margin-left: 20px;
  }
}
.footer {
  width: 100%;
  background: #191919;
  height: 260px;

  &__wrapper {
    display: flex;

    max-width: 1200px;
    margin: 0 auto;
  }
  &__first-block {
    padding-top: 66px;
    margin-right: 100px;
  }
  &__first-block-img {
    margin-bottom: 14px;
  }
  &__first-block-icons {
    display: flex;
    gap: 30px;
  }
  &__second-block {
    margin-right: 95px;
    padding-top: 43px;
    display: flex;
    flex-direction: column;
  }
  &__third-block {
    padding-top: 43px;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
  }
  &__firth-block {
    padding-top: 86px;
    display: flex;
    flex-direction: column;
  }
  &__block-title {
    margin-bottom: 18px;
    color: #fff;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  &__block-buttons {
    margin-bottom: 20px;
    color: #b7b7b7;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  &__block-buttons-transform {
    color: #b7b7b7;
    margin-bottom: 8px;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    transform: rotate(7deg);
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  &__block-buttons-transform2 {
    color: #b7b7b7;
    margin-bottom: 15px;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  &__firth-block-title {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  &__firth-block-subtitle {
    color: #b7b7b7;
    text-align: center;
    margin-bottom: 11px;
    font-family: Montserrat Alternates;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__firth-block-email input {
    background-color: #363636;
    width: 190px;
    height: 30px;
    color: white;
    font-family: Montserrat;
    padding-left: 14px;
    font-size: 16px;
    font-weight: 400;
    border: none;
  }
  &__firth-block-email input::placeholder {
    color: #ffc700;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__firth-block-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 31px;
    background-color: #ffc700;
    border: none;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
  }
  &__firth-block-input-wrapper {
    display: flex;
    gap: 15px;
  }
}
