@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Montserrat+Alternates:wght@300&family=Montserrat:wght@400;700;900&display=swap");
body {
  background-color: black;
}

.header {
  padding-bottom: 60px;
}
.header__top {
  padding-top: 37px;
}
.header__top-menu {
  width: 1010px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.header__search-text {
  margin-right: 200px;
  width: 225px;
  background-color: black;
  height: 30px;
  padding-left: 33px;
  color: #fff;
  border-radius: 15px;
  border: 1px solid #fff;
}
.header__search-text::-moz-placeholder {
  color: white;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.header__search-text::placeholder {
  color: white;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.header__lupa {
  position: relative;
  left: 30px;
  top: 0px;
}
.header__top-right-menu {
  margin-left: 218px;
  display: flex;
  gap: 9px;
}
.header__top-right-menu span {
  color: white;
  font-weight: 900;
  font-size: 17px;
}
.header__top-right-menu-ru {
  font-family: Inter;
  color: #868686;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}
.header__top-right-menu-ua {
  color: #868686;
  font-family: Inter;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}
.header__top-right-menu-ua:active {
  color: #fff;
  font-family: Inter;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}
.header__top-right-menu-ru:active {
  font-family: Inter;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}
.header__vectors {
  display: flex;
  gap: 30px;
  margin-left: 33px;
}
.header__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 41px;
  margin: 0 auto;
}
.header__menu-btn {
  text-decoration: none;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  transition: all 0.4s ease;
  transform: skewX(-20deg) translateY(-3px);
}
.header__menu-btn:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  transition: all 0.4s ease;
  background-color: white;
  width: 164px;
  height: 51px;
  transform: skewX(-20deg) translateY(-12px);
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
.header__menu {
  display: flex;
  gap: 67px;
}

.section {
  max-width: 1038px;
  margin: 0 auto;
}
.section__text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 28px;
}
.section__title {
  color: #fff;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.section__cards-wrapper-title {
  color: #fff;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 39px;
}
.section__cards-wrapper-subtitle {
  color: #b5b5b5;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 45px;
}
.section__cards-wrapper-card {
  display: flex;
  align-items: center;
}
.section__product-card-size-xl {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/img/bg/mini-bg.png");
  width: 63.5px;
  height: 30px;
  font-family: Montserrat;
  font-size: 16px;
  margin-right: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section__product-card-size-xl::after {
  content: url("/img/vectors/down.png");
  margin-left: 3px;
  margin-bottom: 3px;
}
.section__product-card-color-w {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/img/bg/middle-bg.png");
  width: 108px;
  height: 30px;
  font-family: Montserrat;
  font-size: 16px;
  margin-right: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section__product-card-color-w::after {
  content: url("/img/vectors/down.png");
  margin-left: 13px;
  margin-bottom: 3px;
}
.section__product-card-amount {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-right: 37.5px;
  line-height: normal;
}
.section__product-card-amount-90 {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/img/bg/high-bg.png");
  width: 94px;
  height: 30px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section__cards-wrapper-second-text {
  display: flex;
  align-items: center;
  margin-left: 79px;
}
.section__cards-wrapper-price-text {
  color: #ffc700;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 54px;
}
.section__cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.section2 {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section2__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
}
.section2__text-title {
  color: #fff;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 70px;
}
.section2__box-wrapper {
  display: flex;
  gap: 30px;
}
.section2__input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-right: 94px;
}
.section2__left-block-input input {
  background-color: #111111;
  width: 441px;
  height: 50px;
  color: white;
  font-family: Montserrat;
  padding-left: 25px;
  font-size: 14px;
  font-weight: 400;
  border: none;
}
.section2__left-block-input input::-moz-placeholder {
  color: #ffc700;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section2__left-block-input input::placeholder {
  color: #ffc700;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section2__title-text {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.section2__checkbox-text {
  color: #ffc700;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section2__checkbox-second-text {
  color: #ffc700;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.section2__title-text-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 103px;
  gap: 15px;
  margin-bottom: 66px;
}
.section2__checkbox-wrapper {
  display: flex;
  gap: 10px;
}
.section2__checkbox-wrapper input {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  background: #111;
}
.section2__second-text-title {
  color: #9b9b9b;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 12px;
}
.section2__second-text-title span {
  color: #ffc700;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section2__second-text-subtitle {
  color: #9b9b9b;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 30px;
}
.section2__second-text-subtitle span {
  color: #ffc700;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section2__second-text-end {
  color: #fff;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 30px;
}
.section2__second-text-end span {
  color: #ffc700;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.section2__second-text-wrapper-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 50px;
  flex-shrink: 0;
  border: 2px solid #ffc700;
  color: #ffc700;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  transition: all 0.4s ease-in;
}
.section2__second-text-wrapper-btn:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 50px;
  flex-shrink: 0;
  transition: all 0.4s ease-in;
  border: 2px solid #ffc700;
  color: #fff;
  background-color: #ffc700;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
.section2__second-text-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 130px;
}

.footer {
  width: 100%;
  background: #191919;
  height: 260px;
}
.footer__wrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}
.footer__first-block {
  padding-top: 66px;
  margin-right: 100px;
}
.footer__first-block-img {
  margin-bottom: 14px;
}
.footer__first-block-icons {
  display: flex;
  gap: 30px;
}
.footer__second-block {
  margin-right: 95px;
  padding-top: 43px;
  display: flex;
  flex-direction: column;
}
.footer__third-block {
  padding-top: 43px;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}
.footer__firth-block {
  padding-top: 86px;
  display: flex;
  flex-direction: column;
}
.footer__block-title {
  margin-bottom: 18px;
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footer__block-buttons {
  margin-bottom: 20px;
  color: #b7b7b7;
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.footer__block-buttons-transform {
  color: #b7b7b7;
  margin-bottom: 8px;
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-style: normal;
  transform: rotate(7deg);
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.footer__block-buttons-transform2 {
  color: #b7b7b7;
  margin-bottom: 15px;
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.footer__firth-block-title {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footer__firth-block-subtitle {
  color: #b7b7b7;
  text-align: center;
  margin-bottom: 11px;
  font-family: Montserrat Alternates;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__firth-block-email input {
  background-color: #363636;
  width: 190px;
  height: 30px;
  color: white;
  font-family: Montserrat;
  padding-left: 14px;
  font-size: 16px;
  font-weight: 400;
  border: none;
}
.footer__firth-block-email input::-moz-placeholder {
  color: #ffc700;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__firth-block-email input::placeholder {
  color: #ffc700;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__firth-block-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 31px;
  background-color: #ffc700;
  border: none;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
.footer__firth-block-input-wrapper {
  display: flex;
  gap: 15px;
}/*# sourceMappingURL=style.css.map */